@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%;
}

body{
  background: #000000 url('./assets/background.jpg');
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
} 

body, input , button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container{
  max-width: 480px;
  margin: 80px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

img.logo{
  margin-right: 20px;
}

.content{
  width: 100%;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  padding: 30px;
}

.content > p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form{
  display: flex;
  flex-direction: column;
}

.content form label{
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form label span{
  font-weight: normal;
  color: #999;
  font-size: 12px;
}

.content form input{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}


.content button.btn{
  border: 0;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  width: 100%;
  padding: 0 20px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: .5s all;
}

.content button.btn:hover{
   background:  #f05a5ad8;
   
}